{% extends 'base.html'%}
{% load static %}

{%block content %}

<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
      <a class="list-group-item " {% if '/user_dashboard/' in request.path %} style="background-color: #0A66C2; color:white;" {% endif %} href="{% url 'user_dashboard' %}"> Dashboard </a>
      <a class="list-group-item " href="{% url 'my_orders' %}" {% if '/my_orders/' in request.path %} style="background-color: #0A66C2; color:white;" {% endif %} {% if '/order_details/' in request.path %} style="background-color: #0A66C2; color:white;" {% endif %}> My Orders </a>
      <a class="list-group-item " href="{% url 'edit_profile' %}" {% if '/edit_profile/' in request.path %} style="background-color: #0A66C2; color:white;" {% endif %}> Edit Profile </a>
      <a class="list-group-item " href="{% url 'change_password' %}" {% if '/change_password/' in request.path %} style="background-color: #0A66C2; color:white;" {% endif %}> Change Password </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
    <!--   SIDEBAR .//END   -->
  </aside>


  </style>


{% include 'alert.html' %}
<div class="container">
	<div class="row">
	
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			Hello
			<strong><span class="text-black">{{user.first_name|capfirst}} {{user.last_name}} ! </span></strong>
		</header>
		<div class="card-body">
			<div class="row">

			<div class="col-md-6">
				<div class="card" style="text-align:center;">
					<div class="card-body">
						<h5 class="card-title">Total Orders : <strong> {{order_count}}</strong></h5> 
							
						
						
						<a href="{% url 'my_orders' %}" class="btn btn-outline-success btn-sm">View Orders</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card" style="text-align:center;">
					<div class="card-body">
						
						<p class="mb-0">{{user.email}}</p>
						<p>{{user.phone_number}}</p>
					</div>
				</div>
			</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}